.layout{
    color: var(--txt-color);
}

.layoutContent{
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
}

.layoutContentMain{
    padding: 30px;
}